.app {
  margin: 10px;
}

.header{
  text-align: center
}
.selected {
  display: none
}
.navbar {
  margin-left: 20px;
}

.input-size {
  width: 30%
}
.formstyle{
  display: flex;
  flex-direction: column
}

.answer-display {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.spacing {
  margin: 10px;
}